@font-face {
   font-family: "Poppins";
   src: url("./../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "Roboto";
   src: url("./../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "Montserrat";
   src: url("./../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}