/* @import url('font.css'); */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors  */

  --primary: #ff014f;

  --bg: #212428;

  --color: #2d3136;

}

/* Global Body Styles */
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 3px solid var(--bg);
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--bg);
}

/* @layer base {
  :root {

    --radius: 0.5rem;

  }

}  */

.star {
  position: fixed;
  width: 6px;
  height: 6px;
  background: radial-gradient(circle, white, transparent);
  border-radius: 50%;
  pointer-events: none;
  animation: fade 0.6s ease-out forwards, rise-top-left 0.6s ease-out;
  z-index: 99999999;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rise-top-left {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(-15px, -20px) scale(0.5);
  }
}